---
---

@import "{{ site.theme }}";
.splash {
  display: flex;
  flex-direction: column;
  min-height: 14.0625rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0;
  min-height: 350px;
}
.splash img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    /* z-index: -1; */
}
aside#sidebar {
  float: left;
  padding-right: 20px;
  padding-left: unset;
  background: unset;
}
#main-content {
  float: right;
  width: 690px;
}
header {
    padding: 0px;
    border: 0px;
}
header h1 {
  width: unset;
  margin-left: 0px;
}