---
---

@import "{{ site.theme }}";

.splash {
  display: flex;
  flex-direction: column;
  min-height: 14.0625rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0;
  min-height: 350px;
}
.splash img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    /* z-index: -1; */
}

body {
  font-family: serif;
  font-size: 20px;
}

header {
    padding: 0px;
    border: 0px;
}
header h1 {
  width: unset;
  margin-left: 0px;
}
menu {
  padding-left: 0px;
  margin: 0em;
  display: flex;
  justify-content: center;
  font-size: 1.0em;
}

menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 20px;
}

menu li {
  background: rgb(194, 187, 173);
  padding: 16px;
  float: left;
}

menu li a {
  text-decoration: none;
}

menu li a:hover {
  color: #7a9ae2;
}

#main-content {
  width: 690px;
  font-family: serif;
}
#main-content h1 {
  text-indent: unset;
  font-family: serif;
  font-size: 1.8em;
}
#main-content h2 {
  font-size: 1em;
  font-family: serif;
  font-weight: unset;
}

@media only screen and (min-width: 375px) {
  #main-content h1:before, #main-content h2:before, #main-content h3:before, #main-content h4:before, #main-content h5:before, #main-content h6:before {
      padding-right: 0;
      margin-left: 0;
      content: none;
  }
  menu {
  }
  menu ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    padding-left: unset;
  }
  menu li {
    float: none;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(198, 175, 129);
    //display: block;
  }
}