<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Tim Nordloh,Nordloh">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/favicon.jpg' | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <header>
      <figure class="splash">
          <img style="background-color: rgb(228, 236, 234)" class="lazy-load" alt="Timothy Caleb Nordloh" src="{{ '/assets/images/header.jpg' |relative_url }}" data-src="null">
        <div class="inner">
            <h1>{{ site.title }}</h1>
        </div>
      </figure>
    </header>

    <menu>
      <ul>
        <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
        <li><a href="{{ '/posts.html' | relative_url }}">Posts</a></li>
        <li><a href="{{ '/origami.html' | relative_url }}">Origami</a></li>
        <li><a href="{{ '/electronic_projects.html' | relative_url }}">Electronic Projects</a></li>
      </ul>
    </menu>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

      </div>
    </div>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="{{ 'https://www.googletagmanager.com/gtag/js?id=' | append: site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', '{{ site.google_analytics }}');
      </script>

    {% endif %}
  </body>
</html>
